.Post-Header {
  color: white;
  font-size: larger;
  font-weight: 600;
  background-color: #204e4a;
  border: 2px solid #204e4a;
  border-radius: 10px 10px 0px 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
}

.Post-Header-Name {
  float: left;
  width: 80%;
}

.Post-Header-Time {
  float: right;
}

.Comment-Header {
  color: #204e4a;
  font-size: larger;
  font-weight: 600;
  background-color: white;
  border: 2px solid #204e4a;
  border-radius: 10px 10px 0px 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
}
