.Post-Footer {
  border-radius: 0px 0px 8px 8px;
  border-left: 3px solid #204e4a;
  border-right: 3px solid #204e4a;
  border-bottom: 3px solid #204e4a;
  background-color: white;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: auto;
}

.Post-Footer-Comment {
  width: 66%;
  border: 0px;
  font-size: medium;
}

.Post-Footer-Rating {
  float: right;
  font-weight: bold;
  font-size: medium;
  height: 100%;
}
